[Desktop Entry]
Version=1.0
Type=Application
Name=Reyva
GenericName=Web Browser
Keywords=browser;web;internet;private;ReyOS;
Comment=Private browsing and tracking protection by default
Exec=/usr/bin/reyos-browser %U
Icon=reyos-browser
Terminal=false
Categories=Network;WebBrowser;
StartupWMClass=Reyva
