[Desktop Entry]
GenericName=Screenshot Capture Utility
Name=ReyOS Screenshot
Comment=Take screenshots and screen recordings
Categories=Qt;KDE;Utility;
Keywords=snapshot;capture;print;screenshot;snipping;snipping tool;snip;
Exec=/usr/bin/spectacle
Icon=reyos-screenshot
Type=Application
StartupNotify=false
Actions=FullScreenScreenShot;CurrentMonitorScreenShot;ActiveWindowScreenShot;RectangularRegionScreenShot;WindowUnderCursorScreenShot;RecordRegion;RecordScreen;RecordWindow;OpenWithoutScreenshot;
DBusActivatable=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.Spectacle
X-KDE-Shortcuts=Print,Meta+Shift+S
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management,zkde_screencast_unstable_v1

[Desktop Action FullScreenScreenShot]
Name=Capture Entire Desktop
Exec=/usr/bin/spectacle -f
X-KDE-Shortcuts=Shift+Print

[Desktop Action CurrentMonitorScreenShot]
Name=Capture Current Monitor
Exec=/usr/bin/spectacle -m

[Desktop Action ActiveWindowScreenShot]
Name=Capture Active Window
Exec=/usr/bin/spectacle -a
X-KDE-Shortcuts=Meta+Print

[Desktop Action RectangularRegionScreenShot]
Name=Capture Rectangular Region
Exec=/usr/bin/spectacle -r
X-KDE-Shortcuts=Meta+Shift+Print

[Desktop Action WindowUnderCursorScreenShot]
Name=Capture Window Under Cursor
Exec=/usr/bin/spectacle -u
X-KDE-Shortcuts=Meta+Ctrl+Print

[Desktop Action RecordRegion]
Name=Start/Stop Region Recording
Exec=/usr/bin/spectacle -R region
X-KDE-Shortcuts=Meta+Shift+R,Meta+R

[Desktop Action RecordScreen]
Name=Start/Stop Screen Recording
Exec=/usr/bin/spectacle -R screen
X-KDE-Shortcuts=Meta+Alt+R

[Desktop Action RecordWindow]
Name=Start/Stop Window Recording
Exec=/usr/bin/spectacle -R window
X-KDE-Shortcuts=Meta+Ctrl+R

[Desktop Action OpenWithoutScreenshot]
Name=Launch without taking a screenshot
Exec=/usr/bin/spectacle -l
