[Unit]
Description=Periodically check for ReyOS app updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
